@use "@carbon/react/scss/spacing";

.repo-page-gitlab {
    padding: spacing.$spacing-01;

    @import "Paginator.module";
    @import "Table.module";
}

//.io-primary-page-data-table-container.bx--data-table-container-gitlab.bx--data-table-container {
//    margin-left: 2.5rem;
//    margin-right: 2.5rem;
//    padding-top: 0.0rem;
//    box-shadow: 0 5px 24px rgba(10, 14, 29, .05), 0 16px 72px rgba(10, 14, 29, .105)
//}
//
//.io-primary-page-data-table-container-skeleton.bx--data-table-container-gitlab-skeleton {
//    margin-left: 2.5rem;
//    margin-right: 2.5rem;
//    padding-top: 0.0rem;
//    box-shadow: 0 5px 24px rgba(10, 14, 29, .05), 0 16px 72px rgba(10, 14, 29, .105);
//
//    .bx--skeleton.bx--data-table-container {
//        display: block;
//        position: relative;
//        overflow: hidden;
//    }
//
//    .bx--data-table-container {
//        padding-top: 0.0rem;
//    }
//}
//
//// -----------------
//// Data-Table Cells
//// -----------------
//
//.bx--data-table-container-gitlab {
//    margin-bottom: 5.0rem;
//}
//
//.bx--pagination-skeleton-bottom {
//    margin-bottom: 5.0rem;
//}
//
//.bx--data-table tr.bx--parent-row:first-of-type td {
//    min-width: 2rem;
//}
//
//// -------------
//// Code-Snippet
//// -------------
//
//.bx--snippet--light, .bx--snippet--light .bx--snippet-button, .bx--snippet--light .bx--btn.bx--snippet-btn--expand, .bx--snippet--light .bx--copy-btn {
//    transition-duration: 250ms;
//    transition-property: all;
//    transition-timing-function: cubic-bezier(0.2, 0, 0.38, 0.9);
//}
//
//.io--darkened-code-snippet.bx--snippet.bx--snippet--inline.bx--copy {
//    border: 2px solid black;
//    background-color: rgba(0, 0, 0, 0.9);
//    color: white;
//    padding: 0.275rem 0.0rem;
//    max-width: min-content;
//
//    transition-duration: 150ms;
//    transition-property: all;
//    transition-timing-function: cubic-bezier(0.2, 0, 0.38, 0.9);
//}
//
//.io--darkened-code-snippet.bx--snippet.bx--snippet--inline.bx--copy:active {
//    background: rgb(50, 50, 50);
//    border: 2px solid rgb(150, 150, 150);
//}
//
//.io--darkened-code-snippet.bx--snippet.bx--snippet--inline.bx--copy:focus {
//    outline: unset;
//    border: 2px solid rgb(150, 150, 150);
//}
//
//.io--darkened-code-snippet.bx--snippet.bx--snippet--inline.bx--copy > code {
//    font-family: "IBM Plex Mono", "monospace";
//}
//
//.io--darkened-code-snippet.bx--snippet.bx--snippet--inline.bx--copy {
//    cursor: pointer;
//}
//
//div.io--bold-code-snippet.bx--snippet.bx--snippet--single.bx--snippet--light div.bx--snippet-container pre code {
//    font-weight: 600;
//}
//
//.bx--data-table-content {
//    overflow-y: hidden;
//    -ms-overflow-y: hidden;
//}
//
//tr.bx--parent-row:not(.bx--expandable-row) td, tr.bx--parent-row.bx--expandable-row td, tr.bx--parent-row.bx--expandable-row {
//    min-width: 2.0rem;
//}
//
