@use "@carbon/react/scss/spacing" as Spacing;
@use "@carbon/react/scss/type" as Type;
@use "@carbon/react/scss/breakpoint" as Breakpoint;

@use "Mixins";

.landing-page {
    /* ... */
}

.landing-page-primary-image {
    max-width: 100%;
}

.landing-page-row-2 .cds--tabs--scrollable {
    transform: translateZ(0);
    justify-content: flex-end;
}

.landing-page-row-2 .cds--tab-content {
    padding: 0;
}

.landing-page-banner {
    padding-top: Spacing.$spacing-05;
    padding-bottom: Spacing.$spacing-07 * 4;
    padding-left: Spacing.$spacing-06;
    @include Mixins.Import;
}

.landing-page-heading {
    @include Type.type-style("productive-heading-05");
}

.landing-page-row-2 {
    margin-top: rem(-40px);
}

.tabs-group-content {
    padding: Spacing.$spacing-10 Spacing.$spacing-06;
}

.landing-page-subheading {
    @include Type.type-style("productive-heading-03");

    font-weight: 600;
}

.landing-page-paragraph {
    @include Type.type-style("productive-heading-03");
    margin-top: Spacing.$spacing-06;
    margin-bottom: Spacing.$spacing-08;

    @include Breakpoint.breakpoint-between((320px + 1), md) {
        max-width: 75%;
    }
}

.landing-page-row-3 {
    padding: Spacing.$spacing-09 Spacing.$spacing-06;
    @include Mixins.Import;
}

.landing-page-label {
    @include Type.type-style("heading-01");
}

.landing-page-tabs-group {
    /* ... */
}

.landing-page-tab-content {
    /* ... */
}

.landing-page-tabs-group-content {
    /* ... */
}

.landing-page-banner,
.landing-page-row-2,
.landing-page-row-3 {
    margin-left: -2rem;
    margin-right: -2rem;

    @include Breakpoint.breakpoint-down(md) {
        margin-left: 0;
        margin-right: 0;
    }
}
