@use "@carbon/react/scss/spacing" as Spacing;

.breadcrumb {
    display: inline-flex;
    flex-wrap: initial;
    width: max-content;

    margin-top: -#{Spacing.$spacing-05};
    margin-left: -#{Spacing.$spacing-03};
    margin-bottom: Spacing.$spacing-04;

    position: relative;
}
