@use "@carbon/react/scss/motion" as *;
@use "@carbon/react/scss/breakpoint" as *;
@use "@carbon/themes/scss/generated/tokens" as *;

.button {
    width: $spacing-09;
    height: $spacing-09;
    border-radius: 50%;
    border-color: transparent;
    background: rgb(75, 75, 75);
    transition: all motion("standard", "productive");
    z-index: z("modal");
    padding-top: 0.325rem;
    cursor: pointer;
    position: fixed;
    bottom: $spacing-03;
    right: $spacing-04;

    @include breakpoint(md) {
        bottom: calc(#{$spacing-04} + #{$spacing-09} + 0.75rem);
        right: $spacing-06;
    }
}

.button svg {
    fill: $icon-03;
}

.button:hover {
    background: darken(rgba(75, 75, 75, 0.85), 5);
}
