@use "@carbon/react/scss/type" as *; /// @use "@carbon/react/scss/type" as Type;
@use "@carbon/react/scss/spacing" as *; /// @use "@carbon/react/scss/spacing" as Spacing;
@use "@carbon/react/scss/breakpoint" as *; /// @use "@carbon/react/scss/breakpoint" as Breakpoint;

@use "@carbon/styles/scss/utilities/convert" as *;

.home-page {
    padding: $spacing-01;

    .toastui-editor-defaultUI {
        background: white;
    }

    #{&}-heading {
        @include type-style("productive-heading-07");
    }

    #{&}-subheading {
        @include type-style("productive-heading-03");

        font-weight: 600;
    }

    #{&}-primary-image {
        max-width: 100%;
    }

    #{&}-page-banner {
        padding-top: $spacing-05;
        padding-bottom: $spacing-07 * 4;
        padding-left: $spacing-06;

        position: relative;
    }

    #{&}-tabs-group-content {
        padding: $spacing-05 $spacing-05;
    }

    #{&}-paragraph {
        @include type-style("productive-heading-03");
        margin-top: $spacing-05;
        margin-bottom: $spacing-08;

        @include breakpoint-between((320px + 1), md) {
            max-width: 75%;
        }
    }

    #{&}-row-2 {
        margin-top: #{rem(50px)};
        transform: translateZ(0);
        justify-content: flex-end;
    }

    #{&}-row-3 {
        padding: $spacing-09 $spacing-06;
        position: relative;
    }

    #{&}-info-section-heading {
        @include type-style("heading-03");
    }

    #{&}-info-card {
        margin-top: $spacing-09;
        display: flex;
        flex-direction: column;
        padding-left: 1rem;

        svg {
            margin-top: $spacing-09;
        }

        // top border in only small breakpoints to prevent overrides
        @include breakpoint-down(md) {
            &:not(:nth-child(2)) {
                padding-top: $spacing-09;

                border-top: 1px solid var(--cds-border-inverse);
            }
        }

        // left border in just the 2nd column items
        @include breakpoint(md) {
            border-left: 1px solid var(--cds-border-inverse);
        }

        // left border in all items
        @include breakpoint(lg) {
            margin-top: 0;

            border-left: 1px solid var(--cds-border-inverse);

            svg {
                margin-top: $spacing-12;
            }
        }
    }

    #{&}-info-card-heading {
        @include type-style("productive-heading-03");
    }

    #{&}-info-card-body {
        margin-top: $spacing-06;

        flex-grow: 1; // fill space so icons are bottom aligned

        @include type-style("body-long-01");

        // prevent large line lengths between small and medium viewports
        @include breakpoint-between(321px, md) {
            max-width: 75%;
        }
    }
}
