.toggle {
    min-width: 48px;
    min-height: 48px;
}

.side {
    border-right: solid 1px var(--cds-border-subtle);
    border-bottom: solid 1px var(--cds-border-subtle);

    //position: fixed;
    //z-index: 8000;
    //top: 0;
    //bottom: 0;
    //left: 0;
    //overflow: hidden;
    //width: 3rem;
    //max-width: 16rem;
    //background-color: var(--cds-background, #ffffff);
    //color: var(--cds-text-secondary, #525252);
    //transition: width 0.11s cubic-bezier(0.2, 0, 1, 0.9);
    //will-change: width;
}
