@use "sass:map";

@forward "./content/Home/SCSS/Index.module.scss";
@forward "./content/GitHub/SCSS/Index.module.scss";
@forward "./content/GitLab/SCSS/Index.module.scss";

.cds--data-table th.cds--table-expand + .cds--table-column-checkbox,
.cds--data-table td.cds--table-expand + .cds--table-column-checkbox {
    min-width: 35px;
}

// @Unselectable, Highlightable Element(s)

@mixin disable-selection { /*** Supported by Chrome, Edge, Opera and Firefox */
    // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    // -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */

    user-select: none;
}

.Unselectable {
    @include disable-selection;
}

.unselectable {
    @include disable-selection;
}

.no-select {
    @include disable-selection;
}
