@forward "./Normalize.css";

/* =============================================================================
Package Style Sheet (SCSS)
*///// =========================================================================

@use "sass:map";

/* --------------------
Global Variable(s)
*/// ------------------

$prefix: "cds" !default;
$name: "io" !default;

/* ------------------------------------
Design System Extension Enablement
*/// ----------------------------------

@use "@carbon/feature-flags" with (
    $feature-flags: (
        "enable-css-custom-properties": true,
        "enable-use-controlled-state-with-value": true,
        "enable-css-grid": true,
        "enable-v11-release": true
    )
);

/* ---------------------
Module(s) & Imports
*/// -------------------

@use "@carbon/react";

@use "@carbon/grid";

@use "@carbon/react/scss/reset" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/zone" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/motion" as *;
@use "@carbon/react/scss/themes" as *;
@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/breakpoint" as *;
@use "@carbon/react/scss/feature-flags" as *;

@use "@carbon/react/scss/theme" as *;

@forward "@carbon/react/scss/theme";

@import "./Application";

/* -------------------------
Document & Root Styling
*/// -----------------------

:root {
    @include theme($g100);

    background-color: #161616;

    :focus:not(:focus-visible) {
        outline: 0 none;
    }
}
